.App {
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
.option {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

.option:hover {
  background-color: #f0f0f0;
}

.correct {
  background-color: #d4edda; /* Green for correct answers */
  pointer-events: none; /* Disable pointer events for correct answers */
}

.incorrect {
  background-color: #f8d7da; /* Red for incorrect answers */
  pointer-events: none; /* Disable hover effect for incorrect answers */
}

.highlight-correct {
  background-color: #d4edda; /* Yellow for correct answers (user selection or wrong) */
  pointer-events: none; 
}
